body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-size: 1px;
}

.page {
	position: relative;
	bottom: 0;
	width: 1200px;
	background-color: #ffffff;
	margin: 0 auto;
	-webkit-box-shadow: 10px 0 15px rgba(0,0,0,.2),-10px 0 15px rgba(0,0,0,.2);
	        box-shadow: 10px 0 15px rgba(0,0,0,.2),-10px 0 15px rgba(0,0,0,.2);
}

.main-header {
	position: relative;
	z-index: 1;
}

.main-navigation {
	margin: 0 auto;
	
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;

	background-color: #ffffff;
}

.site-navigation {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin: 0;
padding: 0;
padding-top: 14px;
padding-bottom: 16px;
padding-right: 71.5px;
padding-left: 71.5px;
list-style: none;
}

.site-navigation li {
	width: 200px;
}

.site-navigation li:nth-child(4n+2) {
margin-right: 68px;
margin-left: 42px;
}

.site-navigation li:nth-child(4n+3) {
margin-left: 105px;
margin-right: 42px;
text-align: right;

letter-spacing: 0.2px;
}

.site-navigation li:nth-child(4n+4) {
text-align: right;
}

.main-header-logo {
	position: absolute;
	right: 50%;
	left: 50%;

	margin-left: -70px;
}

.main-header-logo img {
	vertical-align: middle;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b2b2b2;
}

.site-navigation-current {
	color: #766357;
}

.container img {
	margin-top: 76px;
}

.container-welcome {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	
	padding-bottom: 73px;
	
	background-image: url("../img/background-second.jpg");
	background-repeat: no-repeat;
	background-color: #81b4d3;
}

.container-welcome::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -1px;

	display: block;
	width: 1200px;
	height: 59px;

	background-image: url("../img/polygon-second.png");
	background-repeat: no-repeat;
}

.sedona-content {
	margin-top: 59px;
	width: 1200px;
}

.welcome-text  {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 576px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
 
	margin-bottom: 27px;
	

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;

	text-align: center;
}

.reasons {
	margin-bottom: 53px;

	font-size: 14px;
	line-height: 26px;

	text-align: center;
}

.reasons-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.reason-item h3 {
	width: 151px;
	padding-top: 45px;
	margin: 0 auto;

	font-size: 21px;
	line-height: 21px;
	
}

.reason-item p {
	padding-left: 60px;
	padding-right: 60px;
	padding-bottom: 60px;
}

.reason-item-gift p {
	width: 300px;
	padding-bottom: 83px;
}

.reason-item span {
	display: block;
	padding-top: 23px;
	padding-bottom: 19px;
}

.reason-item span::before {
	position: relative;
	content:"";
	top: 12px;
	left: 176px;

	display: block;
	width: 10px;
	height: 2px;

	background-color: #ffffff;
}

.reason-item span::after {
	position: relative;
	content:"";
	top: -11px;
	left: 215px;

	display: block;
	width: 10px;
	height: 2px;

	background-color: #ffffff;
}

.reason-item:nth-child(n+6) span::before {
	position: relative;
	content:"";
	top: 12px;
	left: 175px;

	display: block;
	width: 10px;
	height: 2px;

	background-color: #000000;
}

.reason-item:nth-child(n+6) span::after {
	position: relative;
	content:"";
	top: -11px;
	left: 214px;

	display: block;
	width: 10px;
	height: 2px;

	background-color: #000000;
}

.reason-item-gift h3 {
	padding-top: 155px;
	margin-bottom: 23px;
	margin-top: 6px;
}

.reason-item-gift:nth-child(2) h3 {
	position: relative;
}

.reason-item-gift:nth-child(2) h3::before {
	position: absolute;
	content: "";
	top: 55px;
	left: 39px;

	background-image: url("../img/icon-1.svg");
	width: 75px;
	height: 72px;
}

.reason-item-gift:nth-child(3) h3 {
	position: relative;
}

.reason-item-gift:nth-child(3) h3::before {
	position: absolute;
	content: "";
	top: 55px;
	left: 40px;

	background-image: url("../img/icon-3.svg");
	width: 74px;
	height: 70px;
}

.reason-item-gift:nth-child(4) h3 {
	position: relative;
}

.reason-item-gift:nth-child(4) h3::before {
	position: absolute;
	content: "";
	top: 55px;
	left: 45px;

	background-image: url("../img/icon-2.svg");
	width: 64px;
	height: 76px;
}

.reason-item {
	margin: 0;
	padding: 0;

	text-align: center;
}

.reason-item:nth-child(n+6) {
	background-color: #eeeeee;
}

.reason-item,
.reason-item-info {
	width: 400px;
}

.reason-item-info {
	color: #ffffff;
	background-color: #81b3d2;
}

.reason-item-full-width {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.reason-item-full-width img {
	margin: 0;
}

.reason-item p {
	margin: 0;
}

.search-form {
	position: relative;

	width: 576px;
	margin: 0 auto;
	margin-top: 48px;
}

.form-title {
	margin: 0;
	margin-bottom: 25px;

	font-size: 30px;
	line-height: 36px;
	font-weight: bold;

	text-align: center;
	
}

.search-info {
	margin: 0;
	margin-bottom: 46px;

	font-size: 14px;
	line-height: 24px;

	text-align: center;
	
}

.search-link {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 573px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 50px;
	padding-left: 40px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;

	background-color: #766357;

	text-align: center;
}

.search-link:hover,
.search-link:focus {
	background-color: #604e43;
	color: #ffffff;
}

.search-link:active {
	background-color: #503e33;
	color: #857871;
}

.form-search {
	display: none;
}

.form-search-show {
	display: block;
	-webkit-animation-name: move;
	        animation-name: move;
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}

.form-search {
	position: absolute;
	z-index: 3;

	width: 573px;
	padding-top: 55px;
	padding-bottom: 55px;
	
	background-color: #ffffff;
}

@-webkit-keyframes move {
0% {
-webkit-transform: translateY(-100px);
        transform: translateY(-100px);
}
}

@keyframes move {
0% {
-webkit-transform: translateY(-100px);
        transform: translateY(-100px);
}
}

.search-item {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 458px;
	margin: 0 auto;
	
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.search-item label {
	margin-top: 6px;
	padding-right: 10px;
}

.search-item input {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 346px;
	height: 38px;
	margin-bottom: 30px;
	padding-left: 12px;
}

.search-item input {
	border: none;
	background-color: #f2f2f2;
}

.search-item input:hover {
	background-color: #ebebeb;
}

.search-item input:focus {
	background-color: transparent;
	border: 1px solid #e5e5e5;
}

.search-item input::-webkit-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.search-item input:-ms-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.search-item input::-ms-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.search-item input::placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.icon-calendar {
	position: absolute;
	z-index: 2;
	top: 8px;
	right: 10px;
}

.icon-calendar {
  padding: 0;

  background: none;
  border: none;
  
  
  fill: #cacaca;
  cursor: pointer;
}

.icon-calendar:hover,
.icon-calendar:focus {
	fill: #000000;
}

.icon-calendar:active {
	fill: #81b3d2;
}

.quantity-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 458px;
	margin: 0 auto;
	margin-bottom: 55px;
}

.quantity-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;

	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.quantity-item label {
	margin-top: 6px;
	margin-right: 38px;
}

.quantity-item:nth-child(2) label {
	margin-right: 26px;
}

.quantity-item input {
	display: block;
	width: 38px;
	
	background-color: #f2f2f2;
	text-align: center;
	border: none;
}

.quantity-item input::-webkit-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.quantity-item input:-ms-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.quantity-item input::-ms-input-placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}
.quantity-item input::placeholder {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
}

.quantity-item button {
	width: 38px;
	height: 38px;
	font: inherit;
	
	
	background-color: #f2f2f2;
	cursor: pointer;
	border: none;
}

.minus {
	position: relative;
	
}

.minus::before {
	position: absolute;
	content: "";
	top: 17px;
	left: 15px;

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
}

.minus:hover::before {
	background-color: #000000;
}

.minus:active::before {
	background-color: #81b3d2;
}

.plus {
	position: relative;
}

.plus::before {
	position: absolute;
	content: "";
	top: 17px;
	left: 14px;

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
}

.plus::after {
	position: absolute;
	content: "";
	top: 17px;
	left: 14px;

	width: 11px;
	height: 3px;

	background-color: #a9a9a9;
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.plus:hover::before {
	background-color: #000000;
}

.plus:active::before {
	background-color: #81b3d2;
}

.plus:hover::after {
	background-color: #000000;
}

.plus:active::after {
	background-color: #81b3d2;
}

.search-button {
	display: block;
	width: 458px;
	margin: 0 auto;
	padding: 16px 167px;
	color: #ffffff;

 	font-size: 21px;
 	line-height: 26px;
 	font-weight: bold;
	text-transform: uppercase;
	background-color: #81b3d2;
	
	border: none;
	cursor: pointer;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
}

.map-image {
	background-image: url("../img/map.jpg");
}

.map-image iframe {
	position: relative;
	z-index: 2;

	border: none;
}

.main-footer {
	position: absolute;
	z-index: 2;
	bottom: 2px;
	left: 0;

	width: 1200px;
	margin: 0 auto;
	
	color: #000000;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-inner {
	margin: 0 auto;

	color: #000000;
	background-color: #ffffff;
	
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-left: 132px;
	padding-right: 100px;
	padding-top: 33px;
	padding-bottom: 35px;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
}

.footer-contact {
	width: 240px;
	margin: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

	
.footer-copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 197px;
}

.footer-copyright p {
	margin-right: 5px;
	font-size: 14px;
	line-height: 26px;
}

.footer-copyright a {
	display: block;
	width: 116px;
	height: 36px;
	margin-top: 7px;
}

.socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 200px;
	margin: 0;
	margin-right: 72px;
	padding: 0;
	text-align: center;

	list-style: none;
}

.socials-item:nth-last-child(n+1) {
	margin-right: 6px;
}

.socials-item:nth-child(n+4) {
	margin-top: 6px;
}

.socials-button {
	display: block;
	width: 45px;
	height: 48px;

	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: center;
}

.socials-button:hover,
.socials-button:focus {
	background-color: #669ec0;
}

.socials-button:active {
	background-color: #5496bd;
}

.socials-button-twitter {
	background-image: url("../img/twitter.svg");
}

.socials-button-facebook {
	background-image: url("../img/fb-icon.svg");
}

.socials-button-youtube {
	background-image: url("../img/youtube.svg");
}

.button-copyright:hover svg,
.button-copyright:focus svg {
	fill: #81b3d2;
}

.button-copyright:active svg {
	fill: #bdbbbc;
}

.button-copyright svg:active {
	fill: #bdbbbc;
}

/* Стилизация внутренней страницы */

.filters-container {
	padding-left: 73px;
	padding-right: 73px;
	padding-top: 29px;
	padding-bottom: 9px;
	color: #ffffff;

  background-color: #81b3d3;
	background-image: url("../img/background-inner.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.filter fieldset {
	padding: 0;
  margin: 0;

  border: none;
}

.filter legend {
	margin-right: 115px;
	margin-bottom: 23px;

	color: #ffffff;
}

.filter ul {
	padding: 0;
  margin: 0;
}

.filter-list {
	font-size: 14px;
	line-height: 21px;

	list-style: none;
}

.filter-option {
	margin-bottom: 24px;
	margin-left: 40px;
}

.filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filter-option label {
  position: relative;
  display: block;

  cursor: pointer;
}

.filter-input-checkbox:focus+ label{
	outline: 1px auto #ffffff;
}

.filter-input-checkbox:disabled+ label {
	color: #6a6a6a;
}


.filter-input-checkbox + label::after {
  position: absolute;
  content: "";
  left: -40px;
  bottom: -1px;
  width: 25px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  position: absolute;
  content: "";
  left: -39px;
  bottom: -1px;
  width: 25px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked:disabled + label::after {
	background-image: url("../img/checkbox-on-disabled.svg");
} 

.filter-input-checkbox:disabled + label::after {
	background-image: url("../img/checkbox-off-disabled.svg");
}

.filter-control {
	width: 318px;
	margin-left: auto;

	color: #ffffff;
}

.filter-range-title {
	margin-top: 0;
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  
  background: #ffffff;
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;

}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
  line-height: 21px;
}

.price-controls input::-webkit-input-placeholder {
	color: #ffffff;
}
.price-controls input:-ms-input-placeholder {
	color: #ffffff;
}
.price-controls input::-ms-input-placeholder {
	color: #ffffff;
}
.price-controls input::placeholder {
	color: #ffffff;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
	display: block;
	width: 136px;
	margin: 0 auto;
	margin-right: 95px;
	padding: 6px 30px;

	font-size: 14px;
	line-height: 20px;
	color: #ffffff;

	background-color: transparent;
	border: 2px solid #ffffff; 
	text-transform: uppercase;
	border-radius: 2px;

	cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #ffffff;
	color: #000000; 
}

.header-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-left: 73px;
	padding-right: 73px;
	
	border-bottom: 1px solid #e5e5e5;
}

.found-title {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 30px;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.found-section,
.found-list {
	font-size: 12px;
	line-height: 18px;
}

.found-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 890px;
	margin-left: 47px;
	margin-top: 4px;
	
	-webkit-box-align: center;
	
	    -ms-flex-align: center;
	
	        align-items: center;
}

.found-section p {
	margin: 0;
}

.found-list {
	margin: 0;
}

.found-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	list-style: none;
}

.found-list li:nth-child(n+1) {
	margin-right: 34px;
}

.found-list a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.found-item-current {
	color: #81b3d2;
}

.found-list a:hover,
.found-list a:focus {
	color: #81b3d2; 
}

.found-list a:active {
	color: #000000;
}

.icon-buttons-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	margin-left: auto;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
	list-style: none;
}

.icon-button-item:nth-child(1) {
	margin-right: 12px;
}

.icon-triangle {
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.icon-button-item:focus a {
	outline: 1px auto #000000;
}

.icon-triangle_up svg {
	fill: #cacaca;
}

.icon-triangle_up:hover svg,
.icon-triangle_up:focus svg {
	fill: #231f20;
}

.icon-triangle_up:active svg {
	fill: #81b3d2;
}

.icon-triangle_down svg {
	fill: #81b3d2;
}

.catalog-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.catalog-list h3 {
	margin: 0;

	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.catalog-list a {
	color: #000000;
}

.catalog-list a:hover,
.catalog-list a:focus {
	color: #81b3d2;
}

.catalog-list a:active {
	color: #b2b2b2;
}

.catalog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 29px;
	padding-left: 73px;
	padding-right: 73px;

	border-bottom: 1px solid #e5e5e5;
}

.catalog-item-image {
	margin: 0;
	height: 90px;
}

.catalog-item-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	width: 258px;
	padding-left: 30px;
}

.catalog-item-info h3 {
	margin-bottom: 2px;
}

.catalog-category {
	width: 110px;
	margin: 0;
}

.catalog-price {
	width: 142px;
	margin: 0;
	margin-left: 6px;

	cursor: pointer;
}

.catalog-list .button-detail {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 110px;
	padding: 3px 16px;
	margin-top: 15px;
	color: #ffffff;
	
	font-size: 14px;
	line-height: 21px;
	font-weight: bold; 

	background-color: #81b3d2;
}

.catalog-list .button-detail:hover,
.button-detail:focus {
	background-color: #669ec0;
	color: #ffffff;
}

catalog .button-detail:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.catalog-list .button-reservation {
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 142px;
	padding: 3px 16px;
	margin-left: 6px;
	margin-top: 15px;
	
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;

	background-color: #766357;
}

.catalog-list .button-reservation:hover,
.button-reservation:focus {
	background-color: #604e43;
	color: #ffffff;
}

.catalog-list .button-reservation:active {
	background-color: #503e33;
	color: #928a85;
}

.catalog-rating {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-left: auto;
}

.rating-stars {
	margin: 0;
	margin-bottom: 40px;
}

.rating-stars img {
	margin-left: 2px;
}
 

.rating-numbers {
	margin: 0;
	padding: 3px 12px;

	background-color: #f2f2f2;
}
