body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
	cursor: pointer;
}

h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	text-align: center;
}

.page {
	
	width: 1200px;
	background-color: #ffffff;
	margin: 0 auto;
	box-shadow: 10px 0 15px rgba(0,0,0,.2),-10px 0 15px rgba(0,0,0,.2);
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	display: flex;
	width: 1056px;
	padding: 0 73px;
	justify-content: space-between;
	align-items: center;
}

.main-header-logo {
	order: 1;
	align-self: center;
	width: 141px;
	height: 71px;
}

.site-navigation {
	display: contents;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.site-navigation li {
	margin-bottom: 15px;
}


.site-navigation li:nth-child(n+3) {
	order: 2;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #b2b2b2;
}

.site-navigation-current {
	color: #766357;
}

.container-welcome {
	height: 570px;
	margin: 0;
	background-image: url("img/polygon.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    text-align: center;
    margin-top: -16px;
}

.container img {
	margin-top: 60px;
}

.welcome-text  {
	width: 576px;
	display: flex;
    justify-content: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 30px;
}

.sedona-content {
	margin-top: 55px;
	width: 1200px;
}

.reasons {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 55px;
}

.reason-item-info {
	width: 400px;
}

.reasons-list,
.other-reason-list,
.continued-reason-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.reasons-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.reason-item {
	display: flex;
}

.reason-item:nth-child(1),
.reason-item:nth-child(2) {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.other-reason-list {
	display: flex;
}

.other-reason-list p {
	margin: 0;
}

.reason-item,
.other-reason-item {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
}

.reason-item:nth-child(1),
.reason-item:nth-child(2) {
	display: flex;
	flex-wrap: wrap;
}

.continued-reason-list {
	display: flex;
}

.continued-reason-list p {
	margin: 0;
}

.reason-item h3,
.other-reason-item h3 {
	font-size: 21px;
	line-height: 21px;
	margin: 0;
}

.reason-item-info p {
	margin: 0;
}

.reason-item-image img{
	margin: 0;
}

.search-form {
	width: 576px;
	margin: 0 auto;
	margin-top: 50px;
}

.search-form h2 {
	margin: 0;
	margin-bottom: 36px;
}

.search-info {
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	margin: 0;
	margin-bottom: 50px;
}

.search-title {
	box-sizing: border-box;
	width: 576px;
	height: 86px;
}

.search-container {
	display: ;
	
	width: 458px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

.search-item {
	position: relative;
	display: flex;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.search-item label {
	margin-top: 6px;
	padding-right: 20px;
}

.search-item input {
	display: block;
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	margin-bottom: 30px;
	padding-left: 12px;
}

.icon-calendar {
	position: absolute;
	z-index: 2;
	top: 8px;
	right: 10px;
}

.search-title {
	margin-bottom: 55px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	background-color: #766357;
	text-align: center;
	border: none;
}

.search-title:hover,
.search-title:focus {
	background-color: #604e43;
	color: #ffffff;
}

.search-title:active {
	background-color: #503e33;
	color: #857871;
}

.search-item input {
	border: none;
	background-color: #f2f2f2;
}

.search-item input:hover {
	background-color: #ebebeb;
}

.search-item input:focus {
	background-color: transparent;
	border: 1px solid #e5e5e5;
}

.icon-calendar {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  fill: #cacaca;
}

.icon-calendar:hover,
.icon-calendar:focus {
	fill: #000000;
}

.icon-calendar:active {
	fill: #81b3d2;
}

.quantity-items{
	display: flex;
	justify-content: space-between;
	
	margin-bottom: 54px;
}

.quantity-item {
	display: flex;
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
}

.quantity-item label {
	margin-top: 6px;
	margin-right: 40px;
}

.quantity-item:nth-child(2) label {
	margin-right: 26px;
}

.quantity-item input {
	display: block;
	width: 38px;
	border: none;
	background-color: #f2f2f2;
}

.quantity-item button {
	width: 38px;
	height: 38px;
	font: inherit;
	border: none;
	color: #a9a9a9;
	background-color: #f2f2f2;
}

.quantity-item button:hover {
	color: #000000;
}

.quantity-item button:active {
	color: #81b3d2;
}

.search-button {
	box-sizing: border-box;
	width: 458px;
	height: 58px;
    font: inherit;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #81b3d2;
	color: #ffffff;
	border: none;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
}

.search-button:active {
	background-color: #5496bd;
}

.map-image {
	height: 593px;
	background-image: url("img/map.jpg");
}

.main-footer {
	margin-top: 79px;
	padding: 36px 0;
}

.footer-container {
	display: flex;
	width: 1056px;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.footer-contact {
	width: 240px;
	margin-left: 60px;
}

.footer-social {
	width: 400px;
	margin-right: 88px;
	text-align: center;
}	

.footer-copyright {
	width: 240px;
	margin-right: 30px;
}

.footer-contact a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.footer-social ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.socials-item:nth-last-child(n+1) {
	margin-right: 8px;
}

.socials-button {
	display: block;
	width: 48px;
	height: 48px;
	background-color: #81b3d2;
	background-repeat: no-repeat;
	background-position: center;
}

.socials-button:hover,
.socials-button:focus {
	background-color: #669ec0;
}

.socials-button:active {
	background-color: #5496bd;
}

.socials-button-twitter {
	background-image: url("img/twitter.svg");
}

.socials-button-facebook {
	background-image: url("img/fb-icon.svg");
}

.socials-button-youtube {
	background-image: url("img/youtube.svg");
}

.footer-copyright {
	display: flex;
	
}

.footer-copyright b {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
    margin-right: 8px;
    margin-top: 7px;
	
}
	
.footer-copyright a:hover,
.footer-copyright a:focus {
	color: #81b3d2;
}

.footer-copyright a:active {
	color: #bdbbbc;
}

/* Стилизация внутренней страницы */
.filters {
	color: #ffffff;
	background-color: #81b3d3;
	background-image: url("img/filter-background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	margin-top: -16px;

}

.filters-container {
	width: 1056px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.filter {
	display: flex;
}

.filter fieldset {
	border: none;
	padding: 0;
    margin: 0;
}

.filter legend {
	margin-right: 110px;
	margin-bottom: 23px;
}

.filter ul {
	padding: 0;
    margin: 0;
}

.filter-list {
	list-style: none;
	font-size: 14px;
	line-height: 21px;
}

.filter-option {
	margin-bottom: 23px;
	margin-left: 40px;
}

.filter legend, h3 {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-input-checkbox + label::after {
  content: "";
  position: absolute;
  left: -38px;
  width: 26px;
  height: 23px;
  background-image: url("img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -38px;
  width: 26px;
  height: 23px;
  background-image: url("img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-range {
	margin-left: auto;
	width: 330px;
	color: #ffffff;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  transform: translate(-50%, -50%);
  height: 22px;

  background: #ffffff;
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-button {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	background-color: transparent;
	border: 2px solid #ffffff; 
	border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
	background-color: #ffffff;
	color: #000000; 
}

.found-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1056px;
	margin: 0 auto;
}

.found-title {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.found-section,
.found-list {
	font-size: 12px;
	line-height: 18px;
}

.found-section {
	display: flex;
	margin-right: auto;
	margin-left: 47px;
}

.found-list {
	display: flex;
	list-style: none;
}


.found-list li:nth-child(n+1) {
	margin-right: 34px;
}

.found-list a {
	text-decoration: underline;
	color: #cacaca;
}

.found-item-current {
	color: #81b3d2;
}

.found-list a:hover,
.found-list a:focus {
	color: #81b3d2; 
}

.found-list a:active {
	color: #000000;
}

.icon-triangle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-triangle_up svg {
	fill: #cacaca;
}

.icon-triangle_up:hover svg,
.icon-triangle_up:focus svg {
	fill: #231f20;
}

.icon-triangle_up:active svg {
	fill: #81b3d2;
}

.icon-triangle_down svg {
	fill: #81b3d2;
}

.catalog {
	width: 1056px;
	margin: 0 auto;
}

.catalog-list {
	padding: 0;
	list-style: none;
}

.catalog-item {
	display: flex;
}

.catalog-item:nth-child(n+2) {
	margin-top: 62px;
}

.catalog-item-image {
	margin: 0;
}

.catalog-item-info {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	width: 364px;
	padding-left: 30px;
}


.catalog-item-price {
	display: flex;
	width: 183px;
	margin-bottom: px;
	justify-content: space-between;
}


.catalog-list h3 {
	margin: 0;
	margin-bottom: 15px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.catalog-list a {
	color: #000000;
}

.catalog-list a:hover,
.catalog-list a:focus {
	color: #81b3d2;
}

.catalog-list a:active {
	color: #b2b2b2;
}

.catalog-buttons .button-detail {
	display: inline-block;
	padding: 3px 16px;
	margin-right: 6px;
	color: #ffffff;
	background-color: #81b3d2;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold; 
}

.catalog .button-detail:hover,
.catalog .button-detail:focus {
	background-color: #669ec0;
	color: #ffffff;
}

.catalog .button-detail:active {
	background-color: #5496bd;
	color: #88b6d1;
}

.catalog .button-reservation {
	display: inline-block;
	padding: 3px 16px;
	color: #ffffff;
	background-color: #766357;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
}

.catalog .button-reservation:hover,
.catalog .button-reservation:focus {
	background-color: #604e43;
	color: #ffffff;
}

.catalog .button-reservation:active {
	background-color: #503e33;
	color: #857871;
}

.catalog-rating {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-left: auto;
}

.rating-stars {
	margin: 0;
	margin-bottom: 47px;
}

.rating-star {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
} 

.rating-numbers {
	margin: 0;
} 

.rating-number {
	background-color: #f2f2f2;
}
